@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-select__control {
  background-color: #ffd662 !important;
  color: #0a2a5c !important;
  border-radius: 0.375rem !important;
  min-height: 36px !important;
  font-weight: 600 !important;
}

.custom-select__single-value {
  color: #0a2a5c !important;
  font-weight: 600 !important;
}