@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-select__control {
  background-color: #FFDC30 !important;
  color: #000 !important;
  border-radius: 0.375rem !important;
  min-height: 36px !important;
  font-weight: 600 !important;
}

.custom-select__single-value {
  color: #000 !important;
  font-weight: 600 !important;
}